{% extends "base.html" %}

{% block mainblock %}

{% if not all_loans %}
<h2>
    No loan currently
</h2>
{% else %}
<div class="card my-2 shadow">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title/Author</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Renew Count</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for loan in all_loans %}
                <tr>
                    {% if loan.book %}
                        {% if loan.returnDate %}
                        <td>
                            <form method="POST" action="{{ url_for('loan_bp.delete_loan', book_title=loan.book.title) }}">
                                <button type="submit" class="btn btn-danger text-light">Delete</button>
                            </form>
                        </td>
                        <td></td>
                        {% elif not loan.is_overdue() %}
                        <td>
                            <form method="POST" action="{{ url_for('loan_bp.return_loan', book_title=loan.book.title) }}">
                                <button type="submit" class="btn btn-success text-light">Return</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('loan_bp.renew_loan', book_title=loan.book.title) }}">
                                <button type="submit" class="btn btn-success text-light">Renew</button>
                            </form>
                        </td>
                        {% elif loan.is_overdue() or loan.renewCount >= 2 %}
                        <td>
                            <form method="POST" action="{{ url_for('loan_bp.return_loan', book_title=loan.book.title) }}">
                                <button type="submit" class="btn btn-success text-light">Return</button>
                            </form>
                        </td>
                        <td></td>
                        {% endif %} 
                    {% else %}
                        <td colspan="6">Error: Book not found for this loan.</td>
                    {% endif %}
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endif %y}
{% endblock %}